.product__item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: white;
}

.product__status {
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(60, 178, 43);
}
.product__status_gray {
  background-color: rgb(150, 147, 147);
}

.product__image {
  width: 45px;
}

.product__image-img {
  object-fit: cover;
}

.product__title {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  width: 90px;
  flex-grow: 1;
}

.product__title__serialNumber {
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  color: rgb(197, 196, 196);
}

.product__condition {
  width: 80;
  font-weight: 700;
  color: rgb(197, 196, 196);
}
.product__condition__new {
  color: rgb(60, 178, 43);
}

.product__guarantee {
  width: 100px;
  font-size: 12px;
  color: #666;
  margin-right: 20px;
}
.product__guarantee-period {
  display: flex;
  justify-content: space-between;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
}

.product__price-dollars {
  font-size: 10px;
  color: #979696;
}

.product__delete_icn {
  transition: transform 0.2s ease-in-out;
}
.product__delete_icn:hover {
  transform: scale(1.4);
}
